nav {
    background-image: url('/images/purple1.jpeg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.social-icons a {
    color: white;
    margin-left: 10px;
    font-size: 25px;
}

.social-icons a:hover {
    color: black;
}

.btn {
    color: rgb(255, 255, 255);
    font-weight: 500;
    position: relative;
    overflow: hidden;
}

.btnav::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background-color: white;
    transition: width 0.6s ease;
}

.btnav:hover::before {
    width: 100%;
}

.btnav {
    color: white !important;
}

.btn-search {
    margin: 5px;
    background-color: #007bff;
    border-color: #007bff;
    color: white;
    transition: background-color 0.3s, border-color 0.3s, color 0.3s;
    padding: 0.375rem 0.75rem;
    border-radius: 0.25rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    cursor: pointer;
}

.btn-search:hover {
    background-color: #0056b3;
    border-color: #0056b3;
}

.btn-search i {
    margin-right: 5px;
}

.logo-img {
    max-width: 200px;
    height: auto;
    width: 100px;
}

@media (max-width: 768px) {
    .logo-img {
        width: 120px;
    }
}

@media (max-width: 480px) {
    .logo-img {
        width: 100px;
    }
}

#searchInput {
    width: 400px;
    height: 2.5pc;
}

@media (max-width: 768px) {
    #searchInput {
        width: 100%;
    }
}

.navbar-toggler {
    color: white;
    background-color: white;
}
