
.container{
    font-family: 'viga', sans-serif;
font-weight: 500;
color: #868686;
}
.card-hover {
border: 2px solid #ddd;
transition: border-color 0.3s ease;
height: 100%; /* Adjust height to full height */
display: flex;
flex-direction: column;
justify-content: space-between;
}

.card-hover:hover {
border-color:#8a2be2;
}
.btn{

color:white;
}
.get{
background-color:#862e9c;

}
.btn-hover {
transition: background-color 0.3s ease, color 0.3s ease;
}

.btn-hover:hover {
background-color: #8a2be2;
color: #fff;
}

.coupon-image-container {
display: flex;
justify-content: center;
align-items: center;
height: 100px; /* Adjust height */
margin: auto;
}

.store-image {
max-width: 100px;
height: 100px;
}

.coupon-card {
display: flex;
flex-direction: column;
height: 100%; /* Full height of the parent */
}

.coupon-content {
display: flex;
flex-direction: column;
justify-content: space-between;
flex-grow: 1;
}

.coupon-details {
flex-grow: 1;
}

.coupon-action {
display: flex;
justify-content: center;
align-items: center;
}
.buttm{
width:10px;
height:5px;
padding:5px;
}
.copy-btn {
margin-top: 10px;
}

.copy-confirmation {
margin-top: 30px;
color: green;
}

.custom-font {
font-family: 'viga', sans-serif;
font-weight: bold ;
color:#878787;

}
.des-font {
font-family: 'Open Sans', sans-serif; /* Corrected font family name */
font-weight: 500; /* Corrected font-weight syntax */
color: #999999;
}
.used{
font-family: 'Open Sans', sans-serif;
font-weight:800;
font-size:12px;

}


